<div>
	<h1>Holidays this month</h1>
	<% if @curr_yholiday.any? %>
		<% @curr_yholiday.each do |holiday|%>
			<p class="lead"><%= holiday["name"] %></p>
		<% end %>
	<% else %>
		<p class="lead"> No Holidays </p>
	<% end %>
</div>

<form class="form-horizontal">
	<div class="form-group">
		<label for="inputYear">Year</label>
		<input type="number" name="year" class="form-control" id="inputYear" value="">
	</div>
	<div class="form-group">
		<label for="inputMonth">Month</label>
		<input type="number" name="month" class="form-control" id="inputMonth" value="">
	</div>
	<div class="form-group">
		<label for="inputDay">Day</label>
		<input type="number" name="day" class="form-control" id="inputDay" value="">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>